$primary-color: #fb7500;
$accent-color: #23bbed;
$special-color: #ff0084;
$text-color: rgb(99, 97, 97);
$bg-color: #eeeeee;

@mixin hidden() {
  display: none;
}

@mixin center($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // border: 1px solid rgb(13, 223, 76);
  color: $text-color;
}

body {
  max-width: 100vw;
  background-color: $bg-color;
  font-family: "Ubuntu", sans-serif;
}

.navbar {
  border-bottom: 4px solid $special-color;
  border-top: 4px solid $special-color;
  background-color: $bg-color;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
  img {
    width: 100%;
  }

  i {
    color: $primary-color;
    padding: 1rem 0.4rem;
    &:hover {
      color: $special-color;
      transition: 200ms;
    }
  }

  a {
    align-items: center;
    text-decoration: none;
    color: $accent-color;
    font-weight: 700;
  }
}

.navbar-items {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  img {
    display: inline;
  }
}

.navbar-list a .active {
  color: $special-color;
}

.active {
  color: red;
}

.active-icon {
  color: red;
}

main {
  margin: 3rem auto;
}
footer {
  position: sticky;
  bottom: 0;
  h5{
    font-weight: 900;
    background-color: $bg-color;
    z-index: 2;
    font-size: 1rem;
  }
}

footer .navbar-list {
  background-color: $bg-color;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  li {
    margin: 0 2rem;
  }
}

@media screen and (max-width: 768px) {
  .navbar-items a:first-child {
    @include hidden();
  }
}

@media screen and (max-width: 1024px) {
  #nav-logo {
    @include hidden();
  }
}

@media screen and (min-width: 1024px) {
  #nav-logo {
    display: inline;
  }
}
