$primary-color: #cccccc;
$accent-color: #23bbed;
$special-color: #fbe207;
$bg-color: #eeeeee;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $bg-color;
  font-family: "Ubuntu", sans-serif;
  border: 1px solid rgb(13, 223, 76);
}

.navbar-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-evenly;

  li {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
      color: $accent-color;
    }
  }
}
