$primary-color: #fb7500;
$accent-color: #38c;
$special-color: #ff0084;
$text-color: rgb(99, 97, 97);
$bg-color: #eee;

@mixin hidden() {
  display: none;
}

@mixin center($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin scale(){
  transform: scale(120%);  
  transition: 500ms;
}

@mixin highlight (){
  transition: 500ms;
  background-color: $bg-color;
  border: solid $special-color;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: $text-color;
}

body {
  max-width: 100vw;
  background-color: $bg-color;
  font-family: "Ubuntu", sans-serif;
}

.navbar {
  border-bottom: 4px solid $special-color;
  border-top: 4px solid $special-color;
  background-color: $bg-color;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;

  img {
    width: 100%;
  }

  i {
    color: $primary-color;
    padding: 1rem 0.5rem;

    &:hover {
      color: $special-color;
      transition: 200ms;
      @include scale();

    }
  }

  a {
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    line-height: 1.3rem;
    color: $accent-color;
    font-family: sans-serif;
  }

  a:hover {
    color: #059;
    transition: 200ms;
    @include scale();
  }

  a.active {
    padding: 0.1rem;
    border-bottom: 4px solid $special-color;
  }
}

.navbar-items {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;

  img {
    display: inline;
  }
}

main {
  margin: 3rem auto;
}

footer {
  position: sticky;
  bottom: 0;
  width: 100%;

  h5 {
    font-weight: 900;
    background-color: $bg-color;
    z-index: 2;
    font-size: 1rem;
  }
}

footer .navbar-list {
  background-color: $bg-color;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;

  li {
    margin: 0 2rem;
  }
}

@media screen and (max-width: 768px) {
  .navbar-items a:first-child {
    @include hidden();
  }

  .navbar-list i.active-icon {
    border-bottom: 4px solid $special-color;
    padding: 0.5rem;
  }

  i{
    font-size: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .nav-logo {
    @include hidden();
  }
}

@media screen and (min-width: 1024px) {
  #nav-logo {
    display: inline;
  }
}
