@import "resets";
@import "details";

.feature p {
  line-height: 2;
  text-decoration: none;
}

.hero-logo-img img {
  border-radius: 50%;
  &:hover {
    transform: rotateY(360deg);
    transition: 2000ms;
  }
}

strong:hover {
  color: $primary-color;
  transition: 1000ms;
}
