* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #636161;
}

body {
  max-width: 100vw;
  background-color: #eee;
  font-family: "Ubuntu", sans-serif;
}

.navbar {
  border-bottom: 4px solid #ff0084;
  border-top: 4px solid #ff0084;
  background-color: #eee;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.navbar-list img {
  width: 100%;
}

.navbar-list i {
  color: #fb7500;
  padding: 1rem 0.5rem;
}

.navbar-list i:hover {
  color: #ff0084;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.navbar-list a {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.3rem;
  color: #38c;
  font-family: sans-serif;
}

.navbar-list a:hover {
  color: #059;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.navbar-list a.active {
  padding: 0.1rem;
  border-bottom: 4px solid #ff0084;
}

.navbar-items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.navbar-items img {
  display: inline;
}

main {
  margin: 3rem auto;
}

footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

footer h5 {
  font-weight: 900;
  background-color: #eee;
  z-index: 2;
  font-size: 1rem;
}

footer .navbar-list {
  background-color: #eee;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer .navbar-list li {
  margin: 0 2rem;
}

@media screen and (max-width: 768px) {
  .navbar-items a:first-child {
    display: none;
  }

  .navbar-list i.active-icon {
    border-bottom: 4px solid #ff0084;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .nav-logo {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  #nav-logo {
    display: inline;
  }
}
