* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #636161;
}

body {
  max-width: 100vw;
  background-color: #eee;
  font-family: "Ubuntu", sans-serif;
}

.navbar {
  border-bottom: 4px solid #ff0084;
  border-top: 4px solid #ff0084;
  background-color: #eee;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar-list img {
  width: 100%;
}

.navbar-list i {
  color: #fb7500;
  padding: 1rem 0.5rem;
}

.navbar-list i:hover {
  color: #ff0084;
  -webkit-transition: 200ms;
  transition: 200ms;
  -webkit-transform: scale(120%);
          transform: scale(120%);
  -webkit-transition: 500ms;
  transition: 500ms;
}

.navbar-list a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.3rem;
  color: #38c;
  font-family: sans-serif;
}

.navbar-list a:hover {
  color: #059;
  -webkit-transition: 200ms;
  transition: 200ms;
  -webkit-transform: scale(120%);
          transform: scale(120%);
  -webkit-transition: 500ms;
  transition: 500ms;
}

.navbar-list a.active {
  padding: 0.1rem;
  border-bottom: 4px solid #ff0084;
}

.navbar-items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar-items img {
  display: inline;
}

main {
  margin: 3rem auto;
}

footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
}

footer h5 {
  font-weight: 900;
  background-color: #eee;
  z-index: 2;
  font-size: 1rem;
}

footer .navbar-list {
  background-color: #eee;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .navbar-list li {
  margin: 0 2rem;
}

@media screen and (max-width: 768px) {
  .navbar-items a:first-child {
    display: none;
  }
  .navbar-list i.active-icon {
    border-bottom: 4px solid #ff0084;
    padding: 0.5rem;
  }
  i {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .nav-logo {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  #nav-logo {
    display: inline;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  height: 100%;
  background: url(/images/chris-ried-ieic5Tq8YMk-unsplash.jpg);
  background-size: cover;
}

.hero-logo-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0;
  width: 100%;
  background-color: rgba(238, 238, 238, 0.8);
  border: none;
  height: 10rem;
}

.hero-logo-img img {
  height: 10rem;
  width: auto;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: rgba(238, 238, 238, 0.8);
  border-top: 1px solid #ff0084;
  height: 100%;
  margin: 2rem auto;
}

.feature h5 {
  font-size: 12rem;
}

.feature p {
  margin: 1rem;
  text-align: center;
  font-size: 1.5rem;
  width: 70%;
  text-decoration: underline;
  -webkit-text-decoration-color: #ff0084;
          text-decoration-color: #ff0084;
}

.feature strong {
  font-size: 5rem;
  color: #ff0084;
}

footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
}

.feature p {
  line-height: 2;
  text-decoration: none;
}

.hero-logo-img img {
  border-radius: 50%;
}

.hero-logo-img img:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-transition: 2000ms;
  transition: 2000ms;
}

strong:hover {
  color: #fb7500;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}
