@import "resets";

.hero {
  @include center(column, flex-start, center);
  display: flex;
  height: 90vh;
  background: url(/images/chris-ried-ieic5Tq8YMk-unsplash.jpg);
  background-size: cover;
}

.hero-logo-img {
  @include center(column, flex-start, center);
  margin: 2rem 0;
  width: 100%;
  background-color: rgba($color: #ffffff, $alpha: 0.5);
  border: none;
  img {
    width: 70%;
  }
}

.input-bar {
  @include center(column, flex-start, center);
  width: 80%;
  height: auto;
  margin-left: 3rem;

  label {
    color: $primary-color;
    font-size: 3rem;

    i {
      font-size: 1.5rem;
      color: $bg-color;
      margin-left: 0.5rem;
    }
  }

  input {
    height: 2.5rem;
    width: 100%;
    font-weight: 900;
    background-color: rgba($color: #000000, $alpha: 0.5);
    border: none;
    border-bottom: 5px solid $special-color;
    color: $bg-color;
    margin: 2rem auto;
    caret-color: $primary-color;
    text-indent: 1rem;
  }
  button {
    border-radius: 10%;
    border: none;
    background-color: $primary-color;
    width: 100px;
    height: 2rem;
    &:hover {
      color: $accent-color;
      transition: 200ms;
    }
  }
}

.howitworks {
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 5px solid $special-color;
  padding: 2rem;
}

main {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  strong {
    font-size: 1.5rem;
    color: $special-color;
  }
  article {
    width: 100%;
  }
}

.feature {
  display: flex;
  @include center(column, center, center);
  text-align: center;
  border-bottom: 1px solid $special-color;
  border-top: 1px solid $special-color;
  margin: 2rem 1rem;
  padding-bottom: 2rem;
  height: 100%;

  h5,
  p {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
  }
}


@media screen and (max-width: 768px) {
  .feature {
    border-top: none;
    h5,p {
      font-size: 1rem;
    }

  }

  .howitworks {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero-logo-img {
    @include hidden();
  }
  .input-bar{
    width: 100%;
    margin: 0;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    @include center(row,center,center);
    padding: 2rem;
    i {
      @include hidden();
    }
    input {
      margin: 0 2rem;
      font-size: 1.8rem;
    }
    button {
      height: 2.5rem;
      font-size: 1.5rem;
      margin-left: 3rem;
    }
  }
  
}
