* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #636161;
}

body {
  max-width: 100vw;
  background-color: #eeeeee;
  font-family: "Ubuntu", sans-serif;
}

.navbar {
  border-bottom: 4px solid #ff0084;
  border-top: 4px solid #ff0084;
  background-color: #eeeeee;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar-list img {
  width: 100%;
}

.navbar-list i {
  color: #fb7500;
  padding: 1rem 0.5rem;
}

.navbar-list i:hover {
  color: #ff0084;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.navbar-list a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.3rem;
  color: #3388cc;
  font-family: sans-serif;
}

.navbar-list a:hover {
  color: #059;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.navbar-list a.active {
  padding: 0.1rem;
  border-bottom: 4px solid #ff0084;
}

.navbar-items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar-items img {
  display: inline;
}

main {
  margin: 3rem auto;
}

footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

footer h5 {
  font-weight: 900;
  background-color: #eeeeee;
  z-index: 2;
  font-size: 1rem;
}

footer .navbar-list {
  background-color: #eeeeee;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .navbar-list li {
  margin: 0 2rem;
}

@media screen and (max-width: 768px) {
  .navbar-items a:first-child {
    display: none;
  }
  .navbar-list i.active-icon {
    border-bottom: 4px solid #ff0084;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .nav-logo {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  #nav-logo {
    display: inline;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #636161;
}

body {
  max-width: 100vw;
  background-color: #eeeeee;
  font-family: "Ubuntu", sans-serif;
}

.navbar {
  border-bottom: 4px solid #ff0084;
  border-top: 4px solid #ff0084;
  background-color: #eeeeee;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar-list img {
  width: 100%;
}

.navbar-list i {
  color: #fb7500;
  padding: 1rem 0.5rem;
}

.navbar-list i:hover {
  color: #ff0084;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.navbar-list a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.3rem;
  color: #3388cc;
  font-family: sans-serif;
}

.navbar-list a:hover {
  color: #059;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.navbar-list a.active {
  padding: 0.1rem;
  border-bottom: 4px solid #ff0084;
}

.navbar-items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar-items img {
  display: inline;
}

main {
  margin: 3rem auto;
}

footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

footer h5 {
  font-weight: 900;
  background-color: #eeeeee;
  z-index: 2;
  font-size: 1rem;
}

footer .navbar-list {
  background-color: #eeeeee;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .navbar-list li {
  margin: 0 2rem;
}

@media screen and (max-width: 768px) {
  .navbar-items a:first-child {
    display: none;
  }
  .navbar-list i.active-icon {
    border-bottom: 4px solid #ff0084;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .nav-logo {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  #nav-logo {
    display: inline;
  }
}

.hero {
  width: 100%;
  height: 70vh;
  background: url(/images/florian-olivo-Ek9Znm8lQ1U-unsplash.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero h1 {
  font-size: 3rem;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.678);
  color: #fb7500;
}

main {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
}

main strong {
  font-size: 1.5rem;
  color: #ff0084;
}

main article {
  width: 100%;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-bottom: 1px solid #ff0084;
  margin: 2rem 1rem;
  padding-bottom: 2rem;
  height: 100%;
}

.feature h5 {
  margin: 0.5rem;
}

@media screen and (min-width: 768px) {
  .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top: 1px solid #ff0084;
  }
}

footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
}

.feature h5 strong > a {
  color: #ff0084;
}
