* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #666;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  font-family: "Ubuntu", sans-serif;
  max-width: 100vw;
}
.navbar {
  background-color: #eee;
  border-bottom: 4px solid #ff0084;
  border-top: 4px solid #ff0084;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
.navbar-list {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style-type: none;
}
.navbar-list img {
  width: 100%;
}
.navbar-list i {
  color: #ff7300;
  padding: 1rem 0.5rem;
}
.navbar-list i:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -webkit-transition: 500ms;
  transition: 500ms;
  color: #ff0084;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.navbar-list a {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #0060ce;
  font-family: sans-serif;
  font-weight: 700;
  line-height: 1.3rem;
  text-decoration: none;
}
.navbar-list a:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -webkit-transition: 500ms;
  transition: 500ms;
  color: #059;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.navbar-list a.active {
  border-bottom: 4px solid #ff0084;
  padding: 0.1rem;
}
.navbar-items {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.navbar-items img {
  display: inline;
}
main {
  margin: 3rem auto;
}
footer h5 {
  background-color: #eee;
  font-size: 1rem;
  font-weight: 900;
  z-index: 2;
}
footer.navbar-list {
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
footer.navbar-list li {
  margin: 0 2rem;
}
@media screen and (max-width: 768px) {
  .navbar-items a:first-child {
    display: none;
  }
  .navbar-list i.active-icon {
    border-bottom: 4px solid #ff0084;
    padding: 0.5rem;
  }
  i {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1024px) {
  .nav-logo {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  #nav-logo {
    display: inline;
  }
}
* {
  text-shadow: none;
}
.hero {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url("/images/florian-olivo-Ek9Znm8lQ1U-unsplash.jpg");
  background-size: cover;
  display: flex;
  height: 70vh;
  text-align: center;
  width: 100%;
}
.hero h1 {
  background-color: rgba(255, 255, 255, 0.678);
  border-radius: 5px;
  color: #ff7300;
  font-size: 3rem;
  padding: 2rem;
}
main {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-columns: (minmax(300px, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 1rem 2rem;
  place-items: center;
}
main strong {
  color: #ff0084;
  font-size: 1.5rem;
}
main article {
  width: 100%;
}
.feature {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #eee;
  border-bottom: 1px solid #ff0084;
  border-top: 1px solid #ff0084;
  display: flex;
  height: 100%;
  margin: 2rem 1rem;
  padding: 2rem;
  text-align: center;
}
.feature h2 {
  border-bottom: 1px solid #ff0084;
  margin: 1rem;
}
.feature p {
  font-size: 1rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feature {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-top: 1px solid #ff0084;
  }
}
